body {
  font: 16px Arial, sans-serif;
  background-color: #bfc0dc;
  margin: 0;
  padding: 0;
}

header {
  background-color: #bfc0dc;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0px;
}

header i {
  font-size: 30px;
  color: black;
  margin-right: 10px;
  margin-bottom: 3px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  border-radius: 50px;
  margin-left: 350px;
  margin-right: 350px;
}

nav button {
  padding: 10px 20px;
  background-color: transparent;
  color: #4b0082;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50px;
  margin: 0;
}

nav button:hover {
  background-color: #333333;
  color: #f9f9f9;
}

nav button.active {
  text-decoration: underline;
  /* Ajusta a distância do sublinhado */
  text-underline-offset: 3px;
}

#write-sec {
  margin-left: 350px;
  margin-right: 350px;
}

form {
  padding: 15px;
  background-color: #e8eaf6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="email"],
input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

button:hover {
  background-color: #333333;
}