
body {
    font: 16px Candara, sans-serif;
    background-color: #bfc0dc;
}

main {
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;  
    background-color: #e6e6e6;
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 40%;
    padding-bottom: 7%;
    padding-top: 1%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#email, #password {
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #333333;
    cursor: pointer;
}

a {
  color: black;
}